
resources/images/logos/blogS.svg
resources/images/logos/githubS.svg
resources/images/logos/instaS.svg
resources/images/logos/linkedinS.svg
resources/images/logos/mediumS.svg
resources/images/logos/mercadoS.svg
resources/images/logos/ytS.svg
oldData.json

resume.html
resume.css
resources/images/rotate.png
