oldData/
logos/vinq.png
resources/images/logos/vinq.png
resources/images/pic41.png
resources/images/logos/up-chevron.png
resources/images/logos/Twitter-Icon.png
resources/images/logos/left-chevron.png
resources/images/logos/Instagram-Icon.png
resources/images/logos/Github-Icon.png
resources/images/logos/Linkedin-Icon.png
*.svg