body {
    font-family: Bookman old style, cursive;
    color: black;
}
#name{
    font-family: Bookman Old Style,cursive;
    font-size: 70px;
    text-align: center;
}
#back{
    float: left;
    padding: 15px;
    font-size: 50px;
    text-decoration: none;
}
#icons {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    text-align: center;
}
#msg {
    font-family: Bookman old style, cursive;
    width: 50%;
    padding: 5px;
}
#about{
    font-family: Bookman Old Style;
    font-size: 25px;
}
#me{
    border-bottom: 2px black solid;
    text-align: center;
    border-top: 2px black solid;
    font-family: Bookman Old Style;
    font-size: 40px;
    font-weight: 400;
}
#services {
    font-family: Bookman old style, cursive;
    text-align: center;
}
#exmp,#chl{
    font-family: Bookman Old Style;
    font-size: 20px;
}
#experience{
    font-family: Bookman Old Style;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}
#exp{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    font-family: Bookman Old Style;
    font-size: 38px;
    font-weight: 400;   
    text-align: center;
}

#freelance{
    font-family: Bookman Old Style;
}

#footer{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Bookman Old Style;
    font-size: 20px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding: 0px !important;
}