body {
    font-family: Bookman old style, cursive;
    color: black;
}
.container-fluid{
    padding: 0px !important;
}
#name{
    font-family: Bookman Old Style,cursive;
    font-size: 70px;
}
#back{
    float: left;
    padding: 15px;
    font-size: 50px;
    text-decoration: none;
}
.header {
    text-align: center;
    background-color: #F9F9F9;
    padding: 5px;
}
#icons {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #F9F9F9;
    font-size: 35px;
    text-align: center;
}
#msg {
    font-family: Bookman old style, cursive;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
}
#about{
    background-color: #F9F9F9;
    font-family: Bookman Old Style;
    font-size: 25px;
}
#me{
    border-bottom: 2px black solid;
    text-align: center;
    border-top: 2px black solid;
    font-family: Bookman Old Style;
    font-size: 40px;
    font-weight: 400;
}
#services {
    font-family: Bookman old style, cursive;
    text-align: center;
    background-color: #F9F9F9;
    padding-left: 120px;
    padding-right: 120px;
}
#exmp,#chl{
    font-family: Bookman Old Style;
    font-size: 20px;
}
#experience{
    font-family: Bookman Old Style;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}
#exp{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    font-family: Bookman Old Style;
    font-size: 40px;
    font-weight: 400;    
}

#freelance{
    font-family: Bookman Old Style;
    font-size: 35px;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #F9F9F9;
}

#footer{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Bookman Old Style;
    font-size: 20px;
    background-color: #F9F9F9;
}