body{
    font-family: 'Rancho', cursive !important;
    font-weight: normal;
    font-style: normal; 
}

.header {
    text-align: center;
}
#back{
    position: fixed;
    left: 5px;
    padding: 15px;
    font-size: 50px;
    text-decoration: none;   
}
#name{
    font-family: Bookman Old Style,cursive;
    font-size: 40px;
}
#icons {
    margin-top: 5px;
    font-size: 35px;
    text-align: center;
}
#freelance{
    font-family: Bookman Old Style;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#Content{
    font-family: Bookman Old Style;
    font-size: 25px;
    text-align: center;
}
#info{
    font-family: Bookman Old Style;
    font-size: 25px;
}
#discription{
    font-family: Bookman Old Style;
    font-size: 25px;
}
#disc{
    font-size: 20px;
}
#head,p{
    margin: 0px !important;
    padding: 0px !important;
}
ul{
    display: block;
    list-style-type: disc;
    padding-top: 15px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
#maintitle{
    font-family: Bookman Old Style;
    font-size: 30px;
    text-align: center;
    border-top: 2px #A0A0A0 dotted;
    border-bottom: 2px #A0A0A0 dotted;
}
#workingon{
    text-align: center;
    padding-top: 250px;
    font-family: Bookman Old Style;
    font-size: 50px;
}
.quote{
    font-family: Bookman Old Style;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
#title{
    font-size: 25px;
    text-decoration: underline;
}
#footer{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Bookman Old Style;
    font-size: 20px;
}