body{
    text-align: center;
    font-family: 'Rancho', cursive !important;
    font-weight: normal;
    font-style: normal; 
}
#Contact{
    padding-top: 20px;
    font-family: Bookman Old Style;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    text-align: center;
}
#socialIcon{
    color: #505050;
}
#back{
    position: fixed;
    left: 5px;
    padding: 15px;
    font-size: 50px;
    text-decoration: none;   
}
