body
{
}
#maincontent{
    margin-top: 20px; 
    font-family: "Bookman Old Style";
    text-align: center;
}
#button{
    width: 200px;
    margin-bottom: 10px;
}
#Name{
    font-size: 75px;
    font-family: "Bookman Old Style";
}
p{
    font-size: 25px;
}
#links{
    font-size: 20px !important; 
}
#icons {
    text-align: center;
    font-size: 35px;
}
#socialIcon{
    color: #505050;
}
#slogan{
    padding-top: 20px;
}