body
{
    font-family: 'Rancho', cursive !important;
    font-weight: normal;
    font-style: normal; 
}
#maincontent{
    margin-top: 20px;
    text-align: center;
}
#button{
    margin-bottom: 5px;
    width: 280px;
    font-size: 25px;
}
#Name{
    font-size: 75px;
}
p{
    font-size: 25px;
}
#links{
    font-size: 20px !important; 
}
#icons {
    text-align: center;
    font-size: 35px;
}
#socialIcon{
    color: #505050;
}
#slogan{
    padding-top: 20px;
}