.mainContent {
    position: relative;
    display: grid;
    grid-template-columns: 5% 65% 30%;
    margin: 20px;
}

#writeUp {
    font-size: 20px;
    margin: 0 auto 0 auto;
    width: 90%;
    text-align: justify;
}

#writeUp #nametitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    margin-top: 0px;
}

#personalPic {
    width: 90%;
}

#iconFA {
    font-size: 40px;
    margin-right: 10px;
}

.right {
    text-align: center;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .mainContent {
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 20px;
    }

    #social-placeholder{
        display: none;
    }
    
}

@media screen and (max-width: 700px) {
    .mainContent {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }

    #social-placeholder{
        display: none;
    }

    #writeUp {
        font-size: 18px;
        width: 100%;
        text-align: justify;
    }
    
    .left {
        width: auto;
        margin: 0;
        position: relative;
    }

    .right {
        width: auto;
        margin: 0;
        margin-top: 20px;
    }
}