/* .blog-listing {
    background-color: #f0f0f0;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    height: fit-content;
}

.blog-date {
    font-size: 14px;
    color: #333333;
    font-style: italic;
    margin: 5px;
}

.blog-title {
    font-size: 24px;
    color: #0000cc;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}

.blog-excerpt {
    font-size: 18px;
    color: black;
    text-align: justify;
    margin: 10px;
}

.blog-icons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.socialIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

/* General popup styling */
.media-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    width: 50vw;
    height: 50vh;
    max-width: 800px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-popup .media-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-popup img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.media-popup .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 700px) {
    .media-popup {
        display: none;
    }
}