:root {
    /* background color */
    /* --primary-background-color: #f0f0f0;
    --primary-text-color: #000000;
    --secondary-text-color: #3a3a3a; */

    --primary-background-color: #F2F2F2;
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --button-color: #007BFF;
    --text-background-color: #FFD700;

    --primary-font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
}

.container {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-grid;
    margin: 10px;
}

.dropdown-button {
    padding: 10px;
    font-size: 20px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    top: 60px;
    background-color: var(--primary-background-color);
    border: var(--secondary-text-color) 0.5px solid;
    border-radius: 2px;
    padding: 10px;
    width:max-content;

}

.filters{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 7fr;
}

#filter-input {
    padding: 10px;
    border: none;
}

#options-list{
    padding: 15px;
    column-count: 4;
}

.option-checkbox {
    margin-right: 5px;
}

li {
    list-style: none;
}

.sidebar {
    margin: 15px;
    width: 10%;
}

.quickAccessTitle {
    text-align: center;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.filtersAndView{
    margin: auto 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stickLeft {
    display: flex;
    gap: 10px;
}

#navBar #stickLeft a.current {
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.navButton {
    padding: 10px;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 22px;
}

.socialIcon {
    height: 32px;
}

.filter-button {
    /* padding: 5px; */
    margin: 2px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.accuracySideBySide {
    display: grid;
    grid-template-columns: 40% 60%;
}

a {
    font-size: 14px;
    color: var(--primary-text-color);
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

/* View change Icons */
.view-type {
    display: flex;
    /* justify-content: flex-end;
    background-color: #f0f0f0; */
}

.view-type-button {
    cursor: pointer;
    margin-right: 10px;
}

.view-type-icon {
    margin: 5px;
    width: 25px;
    height: 25px;
}

.view-type-icon.active {
    /* opacity: 1; */
    background-color: var(--primary-background-color);
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .item {
    margin-bottom: 20px;
}

table {
    font-size: 16px;
    /* border: 1px solid black; */
    width: 100%;
}

td {
    padding: 3px;
    /* border: 1px solid black; */
}

#icon {
    width: 30px;
}

.bigFP {
    width: 20% !important;
}

.blog-listing {
    padding: 20px;
    margin: 10px 20px;
    background-color: var(--primary-background-color);
}

.blog-listing:has(.image-title-div){
    /* padding: 20px; */
    /* margin: 10px 20px; */
    background-color: var(--primary-background-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.blog-title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-date {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.blog-excerpt {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

/* #blog-container.list-view  */
.blog-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;
    bottom: 0px;
}

.list-view .image-title-div .blog-image {
    width: 100%;
    object-fit: contain;
    /* max height will be 400 px */
    max-height: 300px;
    height: 100%;
}

.blog-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid-view .image-title-div .blog-image {
    width: 100%;
    object-fit: cover;
    /* max height will be 400 px */
    height: 100%;
}

#social-placeholder-old #ContactMe {
    display: flex;
}

#social-placeholder-old #ContactMe #social {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

#social-placeholder-old #ContactMe #social #iconFA {
    font-size: 30px;
}

#social-placeholder #ContactMe {
    display: flex;
    height: min(100%, 80vh);
    justify-content: space-between;
}

#social-placeholder #ContactMe #social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    text-align: center;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .filters{
        padding: 10px;
        display: grid;
        grid-template-columns: 2fr 2fr 6fr;
    }   
}


@media screen and (max-width: 700px) {
    .content {
        width: 100%;
    }

    .container {
        margin: 0px;
        display: block;
    }

    .bigFP {
        width: 100% !important;
    }

    #navBar #stickLeft a.current {
        font-size: 22px;
    }

    .socialIcon {
        height: 28px;
    }

    /* Adjustments for small screens */
    #navBar {
        flex-direction: column;
        align-items: center;
    }

    #stickLeft {
        margin-bottom: 10px;
    }

    .navButton {
        display: block;
        margin-bottom: 10px;
    }

    .view-type {
        display: none;
    }

    .accuracySideBySide {
        display: grid;
        grid-template-columns: 100%;
    }

    #gif {
        width: 100%;
    }

    .mainProjects{
        text-align: center;
    }

    .filtersAndView{
        display: inline-block;
    }

    .filters{
        padding: 10px;
        display: inline-block;
        text-align: center;
    }

    #filters-selected-text{
        display: none !important;
    }

    .noTag{
        display: none;
    }

    #selected-options:empty{
        display: none !important;
    }

    .dropdown-button{
        font-weight: normal;
        font-size: 18px;
    }

    .dropdown-content{
        text-align: left;
        position: absolute;
        top: 40px;
        /* postition center in the view */
        left: 50%;
        transform: translateX(-50%);
    }

    #filter-input{
        display: none;
    }

    #options-list{
        padding: 2px;
        column-count: 2;
    }

    #blog-container {
        width: 100%;
        display: inline-block;
    }

    .blog-icons {
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: max-content;
    }

    .blog-title{
        text-align: center;
    }

    .blog-excerpt{
        /* add some space in front for the first line */
        text-indent: 15px;
        text-align: justify;
    }

    .blog {
        width: 90%;
        padding: 10px;
    }

    .blog-listing {
        padding: 10px;
        margin: 10px;
        background-color: var(--primary-background-color);
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 10px;
    }
}