/* Add some styling for the overall layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.left {
    width: 25%;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#writeUp {
    font-size: 14px;
}

.right {
    width: 70%;
    padding: 20px;
    margin-left: 30%;
    overflow: auto;
}

/* Add some basic styling for the blog listings */
.blog-listing {
    padding: 20px;
    margin: 10px;
    background-color: azure;
    /* margin-bottom: 20px;
border-bottom: 1px solid gray; */
}

.filter-button {
    padding: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.blog-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* or any other desired value */
}

.blog-title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.blog-excerpt {
    font-size: 16px;
    line-height: 1.5;
}

a {
    font-size: 14px;
    color: black;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}


table {
    font-size: 16px;
    /* border: 1px solid black; */
    width: 100%;
}

td {
    padding: 3px;
    /* border: 1px solid black; */
}

#icon {
    width: 30px;
}

#social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* or any other desired value */
}

.bigFP{
    width: 20% !important;
}

#blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media screen and (max-width: 700px) {
    #blog-container {
        width: 100%;
        display: inline-block;
    }

    .container {
        display: block;
    }

    .bigFP{
        width: 100% !important;
    }

    #writeUp {
        font-size: 14px;
        margin: 20px;
    }

    .left {
        width: auto;
        margin: 0;
        position: relative;
    }

    .right {
        width: auto;
        margin: 0;
        margin-top: 20px;
    }

    .blog-excerpt {
        text-align: justify;
    }

    .blog-icons {
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: max-content;
    }
}