/* Add some styling for the overall layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

/* Navbar style */
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px 0px 10px 0px;
}

#stickLeft {
    display: flex;
    gap: 10px;
}

#stickRight {
    display: flex;
    align-items: center;
}

#navBar #stickLeft a.current {
    padding: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}

.navButton {
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}

#writeUp {
    font-size: 18px;
    margin: auto;
    width: 80%;
}

.mainContent {
    position: relative;
    display: grid;
    grid-template-columns: 75% 25%;
}

#personalPic {
    width: 80%;
    margin-bottom: 20px;
    height: auto;
}

/* 
.left {
    width: 75%;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.right {
    width: 25%;
    padding: 20px;
    margin-left: 30%;
    overflow: auto;
} */

.right {
    text-align: center;
}

.content {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.socialIcon {
    height: 32px;
}


/* Add some basic styling for the blog listings */
.blog-listing {
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    /* margin-bottom: 20px;
border-bottom: 1px solid gray; */
}

.filter-button {
    padding: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.blog-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* or any other desired value */
}

.blog-title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.blog-excerpt {
    font-size: 16px;
    line-height: 1.5;
}

a {
    font-size: 14px;
    color: black;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

/* View change Icons */
.view-type {
    display: flex;
    justify-content: flex-end;
    background-color: #f0f0f0;
}

.view-type-button {
    cursor: pointer;
    margin-right: 10px;
}

.view-type-icon {
    margin: 5px;
    width: 25px;
    height: 25px;
}

.view-type-icon.active {
    opacity: 1;
    background-color: white;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .item {
    margin-bottom: 20px;
}

#blog-container.list-view .blog-icons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}


table {
    font-size: 16px;
    /* border: 1px solid black; */
    width: 100%;
}

td {
    padding: 3px;
    /* border: 1px solid black; */
}

#icon {
    width: 30px;
}

#social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* or any other desired value */
}

.bigFP {
    width: 20% !important;
}

@media screen and (max-width: 700px) {
    #blog-container {
        width: 100%;
        display: inline-block;
    }

    .container {
        display: block;
    }

    .bigFP {
        width: 100% !important;
    }

    #writeUp {
        font-size: 14px;
        width: 90%;
        text-align: left;
    }

    .left {
        width: auto;
        margin: 0;
        position: relative;
    }

    .right {
        width: auto;
        margin: 0;
        margin-top: 20px;
    }

    .blog-listing {
        padding: 10px;
        margin: 10px;
        background-color: #f0f0f0;
    }

    .socialIcon {
        height: 28px;
    }

    /* Adjustments for small screens */
    #navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    #personalPic {
        display: none;
        margin-bottom: 20px;
    }

    .mainContent {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }

    #stickLeft {
        margin-bottom: 10px;
    }

    .navButton {
        display: block;
        margin-bottom: 10px;
    }

    .blog-icons {
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: max-content;
    }

    .view-type{
        display: none;
    }
}