body.bg {
    background-color: #f5f5f5;
}

.blog {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

#desc{
    color: #404040;
}

#formula{
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#maintitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#title {
    color: #000000;
}

#newdate {
    float: right;
    color: gray;
    font-size: 14px;
}

button.btn {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}

.container-fluid.content {
    padding: 20px;
    font-size: 16px;
    color: gray;
}

#howto {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

#imgsSideBySide {
    display: flex;
}

.imgs {
    flex: 1;
}

#img {
    width: 100%;
}

.resources-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.resource-link {
    display: block;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.resource-link:hover {
    background: #eee;
}

#command {
    font-family: monospace;
    background-color: #eee;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    width: fit-content;
}

#whatItDoes {
    font-size: 12px;
    color: rgb(143, 143, 143);
}

#singleImg{
    max-width: 80%;
}

@media screen and (max-width: 700px) {

    #command {
        font-family: monospace;
        background-color: #eee;
        padding: 0.2em 0.5em;
        border-radius: 3px;
        width: auto;
    }

    pre {
        font-size: 14px;
        overflow: scroll;
        width: auto;
        /* word-wrap: break-word; */
      }

    #singleImg{
        max-width: 100%;
    }
      
}